<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="position: sticky; bottom: 0;">
  <div class="container">
    <ul class="d-flex d-flex justify-content-around" style="list-style: none; width: 100%; padding: 0;">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to restaurants_path, class: "nav-link" do %>
            <i class="fas fa-home"></i>
          <%end%>
        </li>
        <li class="nav-item active">
          <%= link_to "#", class: "nav-link" do %>
            <i class="fas fa-qrcode"></i>
          <%end%>
        </li>
        <li class="nav-item active">
        <%= link_to dashboard_path, class: "nav-link mes-parties"  do %>
          <i class="fas fa-credit-card"></i>
        <% end %>
      </li>

      <li class="nav-item active">
        <%= link_to profile_path, class: "nav-link ta-partie" do %>
          <i class="fas fa-user"></i>
        <% end %>
      </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
