<div class="container">
  <div class="row">
    <% @favorites.each do |favorite| %>
    <div class="col-md-4 col-lg-3 my-3">
      <div class="card-trip">
        <%= cl_image_tag favorite.photo %>
        <div class="card-trip-infos">
          <div>
            <div class="d-flex justify-content-between">
              <h2><%= favorite.name %></h2>
              <i class="far fa-heart favorites <%= current_user.favorited?(favorite) ? "liked" : "" %>" data-id="<%= favorite.id %>"></i>
            </div>

            <p><%= favorite.description %></p>
            <p> <%= favorite.address %> </p>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
